<ion-tabs>

  <ion-tab-bar slot="bottom" color="amarelo">
    <ion-tab-button tab="tab1">
      <img src="assets/img/cabeca.png" alt="">
      <ion-label class="label">Moto Boy</ion-label>
    </ion-tab-button>

    <ion-tab-button class="lab2" tab="tab2">
      <img src="assets/img/localizacao.png" alt="">
      <ion-label>Sedes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="assets/img/perfil.png" alt="">
      <ion-label>Sedes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
