@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Roboto+Condensed:wght@400;700&display=swap');

ion-header{
    border-bottom: 1px solid #E4A200;
}

ion-searchbar{
    margin-top: 5px;

   border-radius: 40px;
}

ion-searchbar.custom {
    --color: #fff;
    --placeholder-color: rgb(0, 0, 0);
    --icon-color: rgb(226, 164, 30);

    --border-radius: 20px;
}

.avatarCarrocel
{
  display: flex;
  justify-content: space-around;
}

.motoristaTitulo{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;

  margin-top: 5px;
  margin-bottom: 15px;
}
