<app-menus></app-menus>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="amarelo">
      <ion-buttons slot="start">
        <ion-menu-button color="branco"></ion-menu-button>
      </ion-buttons>

      <ion-searchbar class="custom" color="branco" animated="true" placeholder="João"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <h6>Motorista Disponiveis:</h6>
    <div class="avatarCarrocel">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>

      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>

      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>

      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>


    <ion-card>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>


  </ion-content>
</div>
