ion-item{
    margin: 5px;
    border-radius: 30px;
}

ion-input{
    color: --amareloclaro()
}

h5{
    
}

.formulario{
    margin: 5px;
    border-radius: 10px;
    border: 3px solid white ;
    background-color: aliceblue;
}